{% extends 'layout.html' %}
{% block header %}

<h1>{% block title %}Update {{user['first_name']}} Records{% endblock %} </h1>
{% endblock %}

{% block content %}

<script>
    function toggle_password_visiblity() {
        var x = document.getElementById("password");
        var y = document.getElementById("show_hide_password")
        if (x.type === "password") {
            x.type = "text";
            y.value = "Hide Password"
        } else {
            x.type = "password";
            y.value = "Show Password"
        }
    }
</script>

<div class="container">

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="flash-message">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

                <form method="post" action="/pythonlogin/update_users?user_id={{user['user_id']}}" enctype="multipart/form-data">
                    <input type="hidden" name="user_id" value="{{user['user_id']}}">
                    <input type="hidden" name="password" value="{{user['password']}}">
                    <input type="hidden" name="avatar" id="avatar" value="{{user['avatar']}}">
                    <br>
                    <label for="first_name"> First Name </label>
                    <br>
                    <input type="text" id="username" name="first_name" value="{{user['first_name']}}">
                    <br>
                    <br>
                    <label for="email"> Email </label>
                    <br>
                    <input type="text" id="email" name="email" value="{{user['email']}}">
                    <br>
                    <br>
                    <label for="password"> Password </label>
                    <br>
                    <input type="password" id="password" name="new_password" value="" autocomplete="off">
                    <input type="button" value="Show Password" id="show_hide_password" onclick="toggle_password_visiblity()">
                    <br>
                    <br>
                    <label for="avatar"> image </label>
                    <br />
                    {% if user["avatar"] == "" %}
                    <img class="pfp" src="{{ url_for('default_image') }}" alt="Default Image">
                    {% else %}
                    <img class="pfp" src="/static/Images/{{user["avatar"]}}" />
                    {% endif %}
                    <br />
                    <input type="file" id="avatar" value="/static/Images/{{user["avatar"]}}" name="avatar" accept="image/*" />
                    <br />
                    <br />
                    <input type="submit" value="Submit" onclick="if (confirm('Are you SURE you wish to update?')) history.back();">
                    <input type="button" value="Cancel" onclick="if (confirm('Are you SURE you wish to cancel?')) history.back();">
                </form>
</div>
{% endblock %}